.presentation{
    text-align: left;
    margin-left: 15%;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 200px;
}

.presentation h1{
    font-size: 45px;
}

.presentation h4{
    font-size: 25px;
}

.presentation img{
    height: 500px;
    border-radius: 30px;
    margin-right: 18%;
    
}