.skill{
    background: rgba(26, 16, 61, 0.301);
    border-radius: 10px;
    margin: 75px;
    padding: 25px;
    filter: drop-shadow(0px 4px 4px rgb(64, 2, 80));
    margin-top: 80px;
    margin-bottom: 200px;
}


.skill img:not(:hover){
    height: 140px;
    margin: 30px;
    filter: drop-shadow(0px 4px 4px rgb(64, 2, 80));
    transition-duration: 0.5s;
}

.skill img:hover{
    height: 200px;
    transition-duration: 0.5s;
}

.skill h1{
    font: 45px;
    
}

.skill p{
    font-size: 20px;
}

.description{
    filter: drop-shadow(0px 4px 4px rgb(64, 2, 80));
}

@media screen and (max-width: 768px){
    .skill{
        text-align: center;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 80px;
    }

    .skill h1{
        font-size: 20px;
    }

    .skill img:not(:hover){
        height: 50px;
        margin: 10px;
        filter: drop-shadow(0px 4px 4px rgb(64, 2, 80));
    }

    .skill img:hover{
        height: 60px;
        transition-duration: 0.5s;
    }
}