.btn{
    background-color: #622188;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
    margin-top: 15px;
    cursor: pointer;
    font-size: 18px;
}

.btn:hover{
    color: aliceblue;
    background-color:#8639b3 ;
    transform: translatey(-7px );
    transition-duration: 0.5s;
}